<div class="sidenav" id="booking">
   <div class="login-main-text">
       <h2>FlyAway<br>  The best flight booking system</h2>
      <p>register from here to access.</p>
   </div>
</div>
<div class="main">
   <div class="col-md-6 col-sm-12">
      <div class="login-form">
         <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" >
            <div class="form-group">
               <label>First Name</label>
               <input type="text" class="form-control" formControlName="firstName" name="firstName" placeholder="User Name">
            </div>
            <div class="form-group">
               <label>Last Name</label>
               <input type="text" class="form-control" formControlName="lastName" name="lastName" placeholder="User Name">
            </div>
            <div class="form-group">
               <label>User Email</label>
               <input type="email" class="form-control" formControlName="email" name="email"  placeholder="User Email">
            </div>
            <div class="form-group">
               <label>Password</label>
               <input type="password" class="form-control" formControlName="password" name="password"placeholder="Password">
            </div>
            <button  type="submit" class="btn btn-black" >Register</button>
            <button  class="btn btn-secondary" routerLink="/auth/login" style="margin-left: 20px;" >Login</button>
         </form>
      </div>
   </div>
</div>